
:root {
  /* Screen Sizes */
  --screen-mobile: 375px;
  --screen-desktop: 1440px;

  /* Colors */
  --clr-primary-purple:  hsl(259, 100%, 65%); 
  --clr-primary-light-red:  hsl(0, 100%, 67%);
  --clr-neutral-white: hsl(0, 0%, 100%);
  --clr-neutral-off-white: hsl(0, 0%, 94%);
  --clr-neutral-light-grey: hsl(0, 0%, 86%);
  --clr-neutral-smokey-grey: hsl(0, 1%, 44%);
  --clr-neutral-off-black: hsl(0, 0%, 8%);

  /* Typography */
  --fs-base: 32px; /*inputs*/
  --ff-poppins: [Poppins](https://fonts.google.com/specimen/Poppins);
  --fw-1: 400;
  --fw-2: 700;
  --fw-3: 800;
  --fs: italic;
  
}