/* @import url(https://fonts.google.com/specimen/Poppins); */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;0,600;0,700;1,500;1,600;1,700&display=swap');


:root {
  /* Screen Sizes */
  --screen-mobile: 375px;
  --screen-desktop: 1440px;

  /* Colors */
  --clr-primary-purple:  hsl(259, 100%, 65%); 
  --clr-primary-light-red:  hsl(0, 100%, 67%);
  --clr-neutral-white: hsl(0, 0%, 100%);
  --clr-neutral-off-white: hsl(0, 0%, 94%);
  --clr-neutral-light-grey: hsl(0, 0%, 86%);
  --clr-neutral-smokey-grey: hsl(0, 1%, 44%);
  --clr-neutral-off-black: hsl(0, 0%, 8%);

  /* Typography */

  /* font size */
  --fs-base: 32px; /*inputs*/
  --fs-400: 1rem;
  --fs-500: 1.25rem;
  --fs-600: 3rem;
  --fs-xl: 5rem;


  /* font family */
  --ff-poppins: 'Poppins', sans-serif;
  /* font style */
  --f-style: italic;
  /* font weight */
  --fw-1: 400;
  --fw-2: 700;
  --fw-3: 800;

  --border-radius: 8px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 18px;
}

body {
  font-family: 'Poppins', sans-serif;
}

hr {
  display: block;
  height: 1px;
  width: 100%;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}


.background {
  background-color: var(--clr-neutral-off-white);
  height: 100vh;
  width: 100vw;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: start;
}

.card {
  background-color: var(--clr-neutral-white);
  display: inline-block;
  margin-top: 6rem;
  width: min(90%, 450px);
  padding: 3rem 2rem;
  border-radius: 12px 12px 25% 12px;
  overflow: hidden;
}

@media (min-width: 376px) {
  .card {
    width: min(600px, 80%);
  }

  .hr-2 {
    display: none;
  }

  .input-section {
    width: 80%;
  }
}


.input-section {
  display: flex;
  justify-content: space-between;
  text-align: left;
  gap: 1rem;
}

.input-container {
  display: flex;
  flex-direction: column;
}

label {
  font-size: 0.8rem;
  color: var(--clr-neutral-smokey-grey);
  font-weight: var(--fw-2);
}

input {
  background-color: var(--clr-neutral-off-white);
  width: 100%; 
  max-height: 3rem;
  padding: 0.6rem;
  font-size: 1em;
  font-family: inherit;
  font-weight: var(--fw-2);
  border-radius: var(--border-radius);
  border: 1px solid var(--clr-neutral-light-grey);
}

input:focus {
  outline: 1px solid var(--clr-primary-purple);
}

@media (min-width: 375px) {
  input {
    font-size: 1.3em;
  }
}

/* For WebKit-based browsers */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* For Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.error {
  font-size: 12px;
  color: var(--clr-primary-light-red);
  font-style: var(--f-style);
}

.input-error {
  outline: 1px solid var(--clr-primary-light-red);
}

.label-error {
  color: var(--clr-primary-light-red);
}

.output-section {
  text-align: left;
  line-height: 1;
  /* color: var(--clr-neutral-off-black) */
}

.output {
  font-size: 60px;
  font-family: var(--ff-poppins);
  font-weight: var(--fw-3);
  font-style: var(--f-style);
  letter-spacing: -3px;
}

.output-value {
  color: var(--clr-primary-purple);
}

.btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1.2rem 0;
}

.btn-calc {
  background-color: var(--clr-primary-purple);
  border-radius: 50%;
  border: none; 
}

.btn-calc:hover {
  background-color: var(--clr-neutral-off-black);
}

@media (min-width: 376px) {
  .btn-container {
    margin: 0;
  }

  .output-section {
    font-size: 1em;
  }
}
